@import "tailwindcss";

@theme {
  --font-baloo: 'Baloo 2', cursive;
}

body {
  font-family: var(--font-baloo);
}

@media print {
  .no-print { display: none !important; }
  .print-only { display: block !important; }
  body { background: white !important; }
}